In [2]:
import matplotlib
from matplotlib import pyplot as plt
matplotlib.use('TkAgg')
import seaborn as sns
import pandas as pd

## Visualização 01

In [3]:
df = pd.read_csv('https://gist.githubusercontent.com/omadson/770934cb0df9e2d2c3e8db031f1139a5/raw/4d181efc035b327d9d66256915951384517c603e/arrecadacao.csv')
df.head()

   arrecadacao                          titulo
0      7316746                       Ferdinand
1     36169328  Jumanji: Welcome to the Jungle
2     19928525                 Pitch Perfect 3
3     71565498        Star Wars: The Last Jedi
4      8805843            The Greatest Showman

In [4]:
##Como não fazer
ax = sns.barplot(data=df, y='arrecadacao', x='titulo')

In [6]:
df = df.assign(arrecadacao_milhao = df.arrecadacao / 1000000)

In [5]:
df = df.sort_values(by='arrecadacao', ascending=False)

In [7]:
sns.set_style("whitegrid")

In [8]:
plt.figure(figsize=(5,2))
ax = sns.barplot(data=df, x='arrecadacao_milhao', y='titulo', color='tomato')

In [9]:
ax.bar_label(
    ax.containers[0],
    fmt='%.1f',
    label_type='center',
    color='white'
)

[Text(0, 0, '71.6'),
 Text(0, 0, '36.2'),
 Text(0, 0, '19.9'),
 Text(0, 0, '8.8'),
 Text(0, 0, '7.3')]

In [10]:
plt.xlabel('Arrecadação(Milhões de Dólares)')
plt.ylabel('Filme')
plt.title('Arrecadação de filmes')

Text(0.5, 1.0, 'Arrecadação de filmes')

In [11]:
ax.set(frame_on=False)
ax.axvline(0, color="k", clip_on=False)

In [12]:
matplotlib.use( 'tkagg' ) ##Professor, tive que fazer algumas modificações no código pois o plt.show nao estava exibindo nada.

In [13]:
plt.show()

## Visualizacao 02

In [21]:
penguins_df = sns.load_dataset("penguins")
penguins_df.head()

In [23]:
sns.set_style("whitegrid")

In [24]:
ax = sns.histplot(data=penguins_df, x='body_mass_g')
plt.ylabel('Quantidade')
plt.xlabel('Massa (g)')
plt.title('Distribuição da massa dos pinguis')

Text(0.5, 1.0, 'Distribuição da massa dos pinguis')

In [26]:
ax.set(frame_on=False)
ax.axhline(0, color="k", clip_on=False)
plt.show()

## Visualização 03

In [27]:
tips_df = sns.load_dataset("tips")
tips_df.head

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [28]:
sns.set_style("whitegrid")

In [29]:
plt.figure(figsize=(6,3))
ax = sns.boxplot(x="day", y="total_bill", data=tips_df, color="cornflowerblue")

In [31]:
plt.ylabel('Conta(USD)')
plt.xlabel('Dia da Semana')
plt.title('Distribuição de gorjetas ao longo da semana')
plt.show()