# Análise exploratória de dados -  Tips

### Código

In [151]:
import pandas as pd
import seaborn as sns

In [152]:
tips_df =  sns.load_dataset('tips')

In [153]:
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [154]:
dict_info_tips = pd.DataFrame([
    {"variavel": "total_bill" ,
     "descricao": "Valor total da conta",
     "tipo": "Quantitativa" , 
     "subtipo": "Contínua"
    } ,
    {
     "variavel": "tip" ,
     "descricao": "Valor total da gorjeta",
     "tipo": "Quantitativa" , 
     "subtipo": "Contínua"
    } ,
    {
     "variavel": "sex" ,
     "descricao": "Gênero do cliente",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    {
     "variavel": "smoker" ,
     "descricao": "Classifica se o cliente é fumante ou não",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    {
     "variavel": "day" ,
     "descricao": "Dia que o cliente compareceu",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    {
     "variavel": "time" ,
     "descricao": "Período em que o cliente consumiu",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    {
     "variavel": "size" ,
     "descricao": "Quantidade de Clientes na mesa",
     "tipo": "Quantitativa" , 
     "subtipo": "Discreta"
    } 
     
])

In [155]:
tips_df_numericos = tips_df.select_dtypes(include=['float64', 'int64'])

In [156]:
media = tips_df_numericos.mean()

In [157]:
mediana = tips_df_numericos.median()

In [158]:
moda = tips_df_numericos.mode().iloc[0]

In [159]:
medidas_centrais = pd.DataFrame({
    'media': media,
    'mediana': mediana,
    'moda': moda,
})

In [160]:
variancia = tips_df_numericos.var()

In [161]:
desvio_padrao = tips_df_numericos.std()

In [162]:
q1 =  tips_df_numericos.quantile(0.25)
q3 =  tips_df_numericos.quantile(0.75)
iqr = q3 - q1

In [163]:
intervalo =  tips_df_numericos.max() -  tips_df_numericos.min()

In [164]:
medidas_dispersao = pd.DataFrame({
    'desvio_padrao': desvio_padrao,
    'IQR': iqr,
    'intervalo': intervalo,
    'variancia': variancia
})

In [165]:
tips_dfs_modas = pd.DataFrame()
tips_dfs_modas = pd.DataFrame(tips_dfs_modas)

In [166]:
moda_genero = tips_df['sex'].mode()
moda_fumantes = tips_df['smoker'].mode()
moda_dia = tips_df['day'].mode()
moda_periodo = tips_df['time'].mode()

In [167]:
tips_dfs_modas['moda_genero'] = moda_genero
tips_dfs_modas['moda_fumantes'] = moda_fumantes
tips_dfs_modas['moda_dia'] = moda_dia
tips_dfs_modas['moda_periodo'] = moda_periodo

## 1. Descrição dos dados

In [168]:
dict_info_tips

,variavel,descricao,tipo,subtipo
0,total_bill,Valor total da conta,Quantitativa,Contínua
1,tip,Valor total da gorjeta,Quantitativa,Contínua
2,sex,Gênero do cliente,Qualitativa,Nominal
3,smoker,Classifica se o cliente é fumante ou não,Qualitativa,Nominal
4,day,Dia que o cliente compareceu,Qualitativa,Nominal
5,time,Período em que o cliente consumiu,Qualitativa,Nominal
6,size,Quantidade de Clientes na mesa,Quantitativa,Discreta

In [169]:
medidas_centrais

                media  mediana   moda
total_bill  19.785943   17.795  13.42
tip          2.998279    2.900   2.00
size         2.569672    2.000   2.00

In [170]:
medidas_dispersao

            desvio_padrao      IQR  intervalo  variancia
total_bill       8.902412  10.7800      47.74  79.252939
tip              1.383638   1.5625       9.00   1.914455
size             0.951100   1.0000       5.00   0.904591

In [171]:
tips_dfs_modas

  moda_genero moda_fumantes moda_dia moda_periodo
0        Male            No      Sat       Dinner

## 2. Perguntas de partida e hipóteses

### 1. Em quais variáveis o desvio padrão é maior?
### 2. Qual dia aparece com mais frequência?
### 3. Há algum valor discrepante?

## 3. Insights

### 1. O desvio padrão é maior nas variáveis total_bill e no size.
### 2. O dia que aparece com mais frequência é o sábado. 
### 3. O desvio padrao de total_bill é bem distante da média do mesmo.

# Análise exploratória de dados -  Titanic

### Código

In [172]:
titanic_df =  sns.load_dataset('titanic')

In [173]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [174]:
titanic_df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [175]:
dict_info_titanic = pd.DataFrame([
    {"variavel": "survived" ,
     "descricao": "Valor Booleano indicando se é sobrevivente ou não",
     "tipo": "Quantitativa" , 
     "subtipo": "Discreta"
    } ,
    {"variavel": "pclass" ,
     "descricao": "Valor referente a classe",
     "tipo": "Quantitativa" , 
     "subtipo": "Discreta"
    } ,
    {"variavel": "sex" ,
     "descricao": "Sexo do passageiro",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    {"variavel": "age" ,
     "descricao": "Idade do Passageiro",
     "tipo": "Quantitativa" , 
     "subtipo": "Discreta"
    } ,
    {"variavel": "sibsp" ,
     "descricao": "É referente ao número de irmãos e cônjuges a bordo, para cada passageiro",
     "tipo": "Quantitativa" , 
     "subtipo": "Discreta"
    } ,
    
    {"variavel": "parch" ,
     "descricao": "É referente ao número de pais e filhos a bordo, para cada passageiro",
     "tipo": "Quantitativa" , 
     "subtipo": "Discreta"
    } ,
    
    {"variavel": "fare" ,
     "descricao": "Tarifa paga pelo passageiro",
     "tipo": "Quantitativa" , 
     "subtipo": "Contínua"
    } ,
    
    {"variavel": "embarked" ,
     "descricao": "Ponto de embarque do passageiro, podendo ser C (Cherboug, França), Q(Queenstown, Irlanda) ou S (Southampton, Reino Unido)",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    
    {"variavel": "class" ,
     "descricao": "Classe do passageiro",
     "tipo": "Qualitativa" , 
     "subtipo": "Ordinal"
    } ,
    
    {"variavel": "who" ,
     "descricao": "Gênero do passageiro",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,

    {"variavel": "adult_male" ,
     "descricao": "Variável booleana que indica se o passageiro é adulto ou não",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    
    {"variavel": "deck" ,
     "descricao": "Indica o deck que o passageiro estava",
     "tipo": "Qualitativa" , 
     "subtipo": "Ordinal"
    } ,
    
    {"variavel": "embark_town" ,
      "descricao": "Ponto de embarque do passageiro, podendo ser Cherboug, Queenstown ou S Southampton",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    
    {"variavel": "alive" ,
     "descricao": "Indica se o passageiro sobreviveu ou não",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } ,
    
    {"variavel": "alone" ,
     "descricao": "Indica se o passageiro estava acompanhado ou não",
     "tipo": "Qualitativa" , 
     "subtipo": "Nominal"
    } 

])

In [177]:
titanic_df_numericos = titanic_df.select_dtypes(include=['float64', 'int64'])

In [178]:
media_titanic = titanic_df_numericos.mean(numeric_only=True)
mediana_titanic = titanic_df_numericos.median(numeric_only=True)
moda_titanic = titanic_df_numericos.mode(numeric_only=True).iloc[0]

In [179]:
medidas_centrais_titanic = pd.DataFrame({
    'media': media_titanic,
    'mediana': mediana_titanic,
    'moda': moda_titanic
})

In [180]:
variancia_titanic = titanic_df_numericos.var()
desvio_padrao_titanic = titanic_df_numericos.std()

In [181]:
q1_titanic =  titanic_df_numericos.quantile(0.25)
q3_titanic =  titanic_df_numericos.quantile(0.75)
iqr_titanic = q3_titanic - q1_titanic

In [182]:
intervalo_titanic =  titanic_df_numericos.max() -  titanic_df_numericos.min()

In [183]:
medidas_dispersao_titanic = pd.DataFrame({
    'desvio_padrao': desvio_padrao_titanic,
    'IQR': iqr_titanic,
    'intervalo': intervalo_titanic,
    'variancia': variancia_titanic
})

In [184]:
titanic_df_modas = pd.DataFrame()
titanic_df_modas = pd.DataFrame(titanic_df_modas)

In [185]:
titanic_df_nao_numericas = titanic_df.drop(columns=titanic_df_numericos)
print(titanic_df_nao_numericas)

        sex embarked   class    who  adult_male deck  embark_town alive  alone
0      male        S   Third    man        True  NaN  Southampton    no  False
1    female        C   First  woman       False    C    Cherbourg   yes  False
2    female        S   Third  woman       False  NaN  Southampton   yes   True
3    female        S   First  woman       False    C  Southampton   yes  False
4      male        S   Third    man        True  NaN  Southampton    no   True
..      ...      ...     ...    ...         ...  ...          ...   ...    ...
886    male        S  Second    man        True  NaN  Southampton    no   True
887  female        S   First  woman       False    B  Southampton   yes   True
888  female        S   Third  woman       False  NaN  Southampton    no  False
889    male        C   First    man        True    C    Cherbourg   yes   True
890    male        Q   Third    man        True  NaN   Queenstown    no   True

[891 rows x 9 columns]

In [186]:
titanic_df_modas = titanic_df_nao_numericas.mode().iloc[0]

## 1. Descrição dos dados

In [176]:
dict_info_titanic

,variavel,descricao,tipo,subtipo
0,survived,Valor Booleano indicando se é sobrevivente ou não,Quantitativa,Discreta
1,pclass,Valor referente a classe,Quantitativa,Discreta
2,sex,Sexo do passageiro,Qualitativa,Nominal
3,age,Idade do Passageiro,Quantitativa,Discreta
4,sibsp,É referente ao número de irmãos e cônjuges a b...,Quantitativa,Discreta
5,parch,É referente ao número de pais e filhos a bordo...,Quantitativa,Discreta
6,fare,Tarifa paga pelo passageiro,Quantitativa,Contínua
7,embarked,"Ponto de embarque do passageiro, podendo ser C...",Qualitativa,Nominal
8,class,Classe do passageiro,Qualitativa,Ordinal
9,who,Gênero do passageiro,Qualitativa,Nominal
10,adult_male,Variável booleana que indica se o passageiro é...,Qualitativa,Nominal
11,deck,Indica o deck que o passageiro estava,Qualitativa,Ordinal
12,embark_town,"Ponto de embarque do passageiro, podendo ser C...",Qualitativa,Nominal
13,alive,Indica se o passageiro sobreviveu ou não,Qualitativa,Nominal
14,alone,Indica se o passageiro estava acompanhado ou não,Qualitativa,Nominal

In [187]:
medidas_centrais_titanic

              media  mediana   moda
survived   0.383838   0.0000   0.00
pclass     2.308642   3.0000   3.00
age       29.699118  28.0000  24.00
sibsp      0.523008   0.0000   0.00
parch      0.381594   0.0000   0.00
fare      32.204208  14.4542   8.05

In [188]:
medidas_dispersao_titanic

          desvio_padrao      IQR  intervalo    variancia
survived       0.486592   1.0000     1.0000     0.236772
pclass         0.836071   1.0000     2.0000     0.699015
age           14.526497  17.8750    79.5800   211.019125
sibsp          1.102743   1.0000     8.0000     1.216043
parch          0.806057   0.0000     6.0000     0.649728
fare          49.693429  23.0896   512.3292  2469.436846

In [189]:
titanic_df_modas

sex                   male
embarked                 S
class                Third
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                 True
Name: 0, dtype: object

## 2. Perguntas de partida e hipóteses

### 1. 
### 2. 
### 3.

## 3. Insights

### 1.
### 2.  
### 3.